.group-box1 {
    border: 1px solid #999;
    background: #f3f3f3;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: 2px 2px 5px #ccc;
    -webkit-box-shadow: 2px 2px 5px #ccc;
    box-shadow: 3px 3px 10px #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

    .group-box1 .title {
        background-color: #708090;
        height: 35px;
        padding: 5px 10px;
        margin-top: 0;
        color: #fff;
        font-size: 13pt;
        font-weight: bold;
        text-shadow: 0 1px 0 #777;
        -moz-box-shadow: 1px 1px 15px #999 inset;
        -webkit-box-shadow: 1px 1px 15px #999 inset;
        box-shadow: 1px 1px 15px #999 inset;
    }

    .group-box2{
        margin-left: 20px;
        margin-right:20px;
    }
