<br />
<br />
<br />
<div class="container text-center">
    <h3>GO WITH ME</h3>
    <p><em>We love you</em></p>
    <p>Cũng như các công ty du lịch đứng đầu khác, mytour.vn luôn muốn mình phát triển và vươn xa, tại website du lịch mytour.vn bạn có thể nhận thấy việc đặt phòng, đặt tour rất nhanh, đây là một điểm mạnh của mytour. Hơn hết với mytour luôn có những đợt khuyến mãi khủng có thể giảm tới 50%, và nhiều chương trình khuyến mãi khác. Bạn hoàn toàn yên tâm khi đặt tour tại đây vì ở đây sự an toàn của khách hàng được đặt lên hàng đầu.</p>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <p><strong>Name</strong></p><br>
            <img src="https://www.google.com/images/srpr/logo11w.png" alt="Random Name" width="255" height="255">
        </div>
        <div class="col-sm-4">
            <p><strong>Name</strong></p><br>
            <img src="https://www.google.com/images/srpr/logo11w.png" width="255" height="255">
        </div>
        <div class="col-sm-4">
            <p><strong>Name</strong></p><br>
            <img src="https://www.google.com/images/srpr/logo11w.png" width="255" height="255">
        </div>
    </div>
</div>